body {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  line-height: 1;
  color: black;
  background: white;
}

:focus {
  outline: 0;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #000;
  line-height: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
}

p {
  max-width: 800px;
  margin-bottom: 10px;
  line-height: 21px;
}

ul {
  line-height: 21px;
}

.home {
  padding: 0 10px;
  button {
    margin: 10px;
  }
}

.auth {
  input {
    margin: 10px;
  }
}

.marginTop {
  margin-top: 20px;
}

h1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
  text-transform: uppercase;
}